{% extends "../base.html" %}
{% block title %} View Match: {{page}} {% end %}
{% block body %}

{% set scores = engine.data.get_scores(page) %}

{% for i in (0,1) %}
{% set term = ("Red","Blue")[i] %}

<h3>{{term}} Alliance</h3>

<h4> Teams </h4>

<table><tr>
<td>Team 1</td>
<td>Team 2</td>
<td>Team 3</td>
</tr><tr>
{% set robot = lambda x: engine.data.get_team(page, x+3*i) %}
<td><a id="robot-{{3*i+0}}" href="/view/robot/{{robot(0)}}">{{robot(0)}}</a></td>
<td><a id="robot-{{3*i+1}}" href="/view/robot/{{robot(1)}}">{{robot(1)}}</a></td>
<td><a id="robot-{{3*i+2}}" href="/view/robot/{{robot(2)}}">{{robot(2)}}</a></td>
</tr></table>

<h4> Score </h4>

<table><tr>
<td>Total</td>
<td>Auto</td>
<td>Teleop</td>
<td>Foul</td>
</tr><tr>
<td class="crosslink" name="{{term}}_score_total">{{scores[3*i]+scores[3*i+1]+scores[3*i+2]}}</td>
<td class="crosslink" name="score-{{3*i+0}}">{{scores[3*i]}}</td>
<td class="crosslink" name="score-{{3*i+1}}">{{scores[3*i+1]}}</td>
<td class="crosslink" name="score-{{3*i+2}}">{{scores[3*i+2]}}</td>
</tr></table>


{% end %}

<script>

"use strict"

function link(name) {
    var e = document.getElementById(name);
    pull(name, function(robot) {
        e.innerHTML = robot
        e.href = "/view/robot/" + robot
    });
}

for (var i=0;i<6;i++) {
     link("robot-"+i);
}

pull("destroy", function (e) {
    window.location.pathname = "/view/match";
});

</script>


{% end %}
