<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
    <meta charset="UTF-8">
    {{ accel.stylesheet }}
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    {{ accel.pushpull }}
  </head>
  <body class="body-prelinked">

  <h1>
  <a href="/" class="headerlink">
  {% block title %}
  Title
  {% end %}
  </a>
  </h1>

  <hr/>

  {% block body %}
    Filler
  {% end %}
  <footer>
    <br/>
    <hr/>
    <br/>
    <table>
      <tr>
        <td>Process ID:</td>
        <td>
            {{ pid }}
        </td>
      </tr>
    </table>
  </footer>
  {{ accel.auto }}
  </body>
</html>
