@charset "utf-8";

table{
   border: .1em solid blue;
   border-radius: .3em;
   background-color: #F0F0F0;
   text-align: center;
}

hr{
    height:1px;
    width:80%;
    color:#f8f8f8;
}

textarea{
    width:500px;
    height:300px;
    resize:both;
}
