<!DOCTYPE html>
<html>
  <head>
    <title>EAOS: {% block title %}Default title{% end %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/theme.css">
    <script src="/js/pushpull.js"></script>
  </head>
  <body>

  {% block header %}
  Title
  {% end %}

  <hr/>

  {% block body %}
    Filler
  {% end %}
  </body>
  <footer>
    <br/>
    <br/>
    <hr/>
    <br/>
    <table>
      <tr>
        <td>Process ID</td>
        <td>
            {{ pid }}
        </td>
      </tr>
    </table>
    <a href="/">Index</a>
  </footer>
</html>
